<div class="social-links d-flex">
    <a href="https://github.com/Rabie-Abdullah" target="_blank" >
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/rabie-abdallah/" target="_blank">
    <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/RabieAbdullah5" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
        <a href="https://www.facebook.com/rabie.abdullah.520" target="_blank" >
        <i class="fab fa-facebook"></i>
    </a>
    <div class="straight-line"></div>
</div>


<div class="my-gmail d-flex">
    <a href="mailto:rabieabdullah@gmail.com">
        <p class="gmail">rabieabdullah@gmail.com</p>
    </a>
    <div class="straight-line"></div>
    
</div>