<app-header></app-header>


<header>
    <div class="container">
        <div class="text-centered-left">
            <h4  data-aos="fade-up">Hey, I`m</h4>
            <h2 data-aos="fade-up">Rabie Abdullah.</h2>
            <h3 data-aos="fade-up">
                I`m a Web Developer
                <a class="btn1" routerLink="">Freelancer</a>
            </h3>
            <h5 data-aos="fade-up">
                I'm currently focused on expanding my experience
                <br>
                designing and developing high performing websites.
            </h5>
            <div class="myResume" data-aos="fade-up">
            <a class="resume btn" href="assets/rabie_abdullah.pdf">Resume</a>
            </div>
        </div>
    </div>
</header>
<app-social-links></app-social-links>


<app-projects></app-projects>

<app-experience></app-experience>

<app-contact-me></app-contact-me>