<div class="section" id="experience">
    <div class="container"> 
        <h2 class="text-white mt-5 pt-5 pb-5">Experience.</h2>

        <div class="main-timeline">
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer" data-aos="fade-right">
                                            <span class="date">
                                                    <span class="month">1 Years</span>
                                            <span class="year">2018</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content" data-aos="fade-left">
                                        <h5 class="title">Web Designer</h5>
                                        <p class="description">
                                            learning and working of Freelancer as a Front end web developer &amp; Designer. 
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content" data-aos="fade-left">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="month">1 Years</span>
                                            <span class="year">2019</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content" data-aos="fade-right">
                                        <h5 class="title">Web Designer</h5>
                                        <p class="description">
                                            I learned Front end and made some cool projects
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer" data-aos="fade-right">
                                            <span class="date">
                                                    <span class="month">1 Years</span>
                                            <span class="year">2020</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content" data-aos="fade-left">
                                        <h5 class="title">NodeJS Developer</h5>
                                        <p class="description">
                                           I learned nodeJS and made some cool apis with myself
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content" data-aos="fade-left">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="month">1 Years</span>
                                            <span class="year">2021</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content" data-aos="fade-right">
                                        <h5 class="title">MEAN-stack Intern</h5>
                                        <p class="description">
                                            Build interactive consumer data from multiple systems and RESTfully abstract to the UI through a Node.
                                        </p>
                                        <div class="company">_at:   Egyptian National Telecommunication Institute (NTI).</div>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                  <!-- start experience section-->
                                  <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content" data-aos="fade-right">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="month">1 Years</span>
                                            <span class="year">2022</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content" data-aos="fade-left">
                                        <h5 class="title">Full stack web developer</h5>
                                        <p class="description">
                                           Full stack web edeveloper 
                                        </p>
                                        <div class="company">_at:  Freelancer</div>

                                    </div>
                                </div>
                                <!-- end experience section-->
                            </div>
        </div>
</div>